flask
flask-socketio
flask-cors
# sense-hat==2.5.0  # Raspberry Pi specific, install manually if needed
# sugarpie==0.1.0
paho-mqtt
pandas
requests
python-dotenv
eventlet
netifaces
APScheduler
requests
psutil
jwt
scikit-learn
numpy
torch
matplotlib
seaborn
tqdm
plotly
nbformat
skorch
scipy
PyWavelets
pytorch-tabnet
pytorch-tabular 
torch-geometric 
lightgbm